*{
  margin:0;
  padding: 0;
  box-sizing: border-box;
}

a{
  text-decoration: none;
}

.main{
  /* ヘッダー分のスペース */
  padding-top: 40px;
  margin-left: 250px;
  background-color: rgb(239, 239, 239);
  min-height: 100vh;
}

input{
  max-width: 300px;
}

/* 全フォーム共通 */
.form-wrapper{
  width: 500px;
  padding: 50px 0;
  margin: 100px auto 0 auto;
  text-align: center;
  background-color: #fff;
  border: 1px solid lightgray;
  border-radius: 20px;
}

/* 全フォーム共通 */
.form-wrapper input{
  margin: 0 auto 20px auto;
}

/* 全テーブル共通 */
table{
  border:solid 1px lightgray;
  background-color: #fff;
}